{% extends "notifications/base-email.html" %}
{% block title %} <title>New password</title> {% endblock title %}
{% block content %}
    <div class="root-container">
        <div class="header">
            <a href="{{ site_url }}" target="_blank" rel="noopener noreferrer">
                <img src="{{ site_url }}/favicon.png" alt="logo" height="50" width="50">
            </a>
        </div>
        <div class="template-name">
            Password has been changed!
        </div>
        <p class="text-align-center">
            Hi,
            <br>
            You have successfully changed your password for your Loyalist. account.
            <br />
            If you did not request to change your  password,  please contact Homelab Team immediately.
        </p>
        <div class="regards-section">
            <p class="regards-message">
                Regards,
            <p class="homelab-team">Homelab Team</p>
            </p>
            <p class="system-message">This is a system generated message. Please, do not reply.</p>
        </div>
        <div class="footer">
        </div>
            <img src="{{ site_url }}/favicon.png" alt="logo" height="50" width="50">
            <p class="copyright">Copyright {% now "Y" %} Homelab Team</p>
        </div>
{% endblock content %}
