{% extends "notifications/base-email.html" %} {% block title %} <title>Reset password</title> {% endblock title %} {%
block content %}
<div class="root-container">
  <div class="header">
    <a href="{{ site_url }}" target="_blank" rel="noopener noreferrer">
      <img src="{{ site_url }}/favicon.png" alt="logo" height="50" width="50" />
    </a>
  </div>
  <div class="template-name">Reset password</div>
  <div class="info-row">
    <p>Dear Loyalist member,</p>
    <p>You have requested a new password for your Loyalist account.</p>
    <p>
      Click on the link to reset your password
      <a href="{{ url }}" target="_blank" rel="noopener noreferrer" class="link"> Reset Password </a>
    </p>
  </div>
  <div class="regards-section">
    <p class="regards-message">Regards, Homelab team</p>
    <p class="system-message">This is an automated message. Please do not reply.</p>
  </div>
  <div class="footer">
    <p class="copyright">Copyright {% now "Y" %} Homelab</p>
  </div>
</div>
{% endblock content %}
