{% extends "notifications/base-email.html" %} {% block title %}<title>Welcome to Loyalist!</title>{% endblock title %}
{% block content %}
<div class="root-container">
  <div class="header">
    <a href="" target="_blank" rel="noopener noreferrer"></a>
  </div>
  <div class="template-name">Welcome to Welcome to Loyalist!</div>
  <div class="info-row">
    <p class="confirmation-info">To complete your registration, please click the button below:</p>
  </div>
  <div class="text-align-center">
    <a href="{{ url }}" class="click-here-link">Confirm Account</a>
  </div>
  <div class="regards-section">
    <p class="regards-message">Regards, Homelab team</p>
    <p class="system-message">This is an automated message. Please do not reply.</p>
  </div>
  <div class="footer">
    <p class="copyright">Copyright {% now "Y" %} Homelab</p>
  </div>
</div>
{% endblock content %}
