{$SITE_URL} {
	@api path /api/* /admin/*
	@docs path /api/schema/ /api/swagger-ui/
	handle @api {
		basicauth @docs {
			root {$CADDY_PASSWORD}
		}
		reverse_proxy api:8000
	}
	handle {
		root * /usr/share/web
		file_server
		try_files {path} /index.html
	}
	handle_path /static/* {
		root * /static
		file_server
	}
	handle_path /attachments/* {
		root * /attachments
		file_server
	}
}
